html, body {
    height: 100%;
}
.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.widget {
    display: flex;
    flex-direction: column;
    width: 25rem;
    min-width: 360px;
    height: 18rem;
    background: palevioletred;
    justify-content: space-between;
}
.widgetHeader {
    display: flex;
    margin-bottom: 1.5rem;
}
.widgetHeader>div {
    display: flex;
    height: 2rem;
    flex:1;
    align-items: center;
    justify-content: center;
    background: pink;
    cursor: pointer;
    user-select: none;
}
.widgetHeader .active {
    background: transparent;
    cursor: auto;
}
.widgetBody {
    width: 100%;
    flex: 8;
    position: relative;
    padding: 0 1rem;
    box-sizing: border-box;
}
.widgetBody>div{
    width: 100%;
}

.currencyBlock {
    display: flex;
    margin: 0.7rem 0;
    justify-content: space-between;
    align-items: center;
}
.currencyBlock p {
    display: flex;
    width: 100%;
    padding-right: 1rem;
    justify-content: space-between;
    align-items: center;
}
.currencyBlock input {
    width: 5rem;
}
.currencyBlock img, .dateBlock img {
    width: 2rem;
    height: 1.5rem;
    margin-right: 1rem;
}
.dateBlock img {
    width: 1rem;
    height: 1rem;
    margin: 0 auto;
}
.dateBlock span{
    flex: 2;
    text-align: center;
    background-repeat: no-repeat;
}
.dateBlock span:first-child{
    flex: 1;
    text-align: start;
}
.dateBlock span:last-child{
    display: flex;
    flex: 1;
    width: 1rem;
    height: 1rem;
}
.rel {
    background-size: contain;
    background-position: center;
}
.rel.up {
    background-image: url('arrow-up.svg');
}
.rel.down {
    background-image: url('arrow-down.svg');
}
.rel.equal {
    background-image: url('equal.svg');
}
.converterFooter {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    height: 1rem;
    text-align: center;
}
.date {
    text-align: center;
}
.date p {
   margin: 1rem 0;
   text-align: center;
}
.hidden{
    display: none;
}
.red {
    outline: none;
    border: 2px solid red;
    color: red;
}
